* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    z-index: 10;
    transition: 0.7s, box-shadow 0.7s;
    background: #496587;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    text-decoration: none;
    color: #fff;
    background: rgba(73, 101, 135, 0.8);
    letter-spacing: 2px;
    font-weight: 600;
    transition: all 0.3s;
    font-size: 20px;
    padding: 15px 20px;
    text-transform: uppercase;
    border-radius: 5px;
}

.nav li:hover {
    background: #F16162;
    color: whitesmoke;
    font-size: 25px;
}

header {
    background: rgba(73, 101, 135, 0.8);
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-bar {
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #496587; 
    padding: 10px;
    border-radius: 15px;
    position: relative;
    z-index: 11;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#searchInput {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    margin-right: 10px;
}

button {
    width: 20%;
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.slider-container {
    width: 75%;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 5px;
    
}

.slider-content {
    flex: 0 0 calc(25% - 20px); 
    margin: 10px;
}

.card {
    width: 85%;
    height: 100%;
    margin: 5px;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: transform 1.2s ease-in-out;
}

.card-image {
    height: 100px;
    width: 100px;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.card-content {
    display: none; 
}

.card:hover .card-content {
    display: flex; 
}


.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #496587;
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #496587;
}

.card:hover {
    background: #F16162;
}

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #F16162;
}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #496587;
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.description {
    font-size: 18px;
    color: #000;
    text-align: center;
}

.button {
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #496587;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3 ease;
}

.button:hover {
    background: #496587;
}

@media screen and (max-width: 768px) {
    .nav {
        padding: 15px 10px;
    }

    .menu li {
        font-size: 14;
    }
}

